<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

    <Properties>
        <Property name="baseDir">./logi</Property>
        <Property name="service">MojSrv</Property>
    </Properties>

    <Appenders>
        <!-- Konsolowy logger -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- Plik z rotacją logów -->
        <RollingFile name="RollingFile"
                     fileName="${baseDir}/${service}.log"
                     filePattern="${baseDir}/$${date:yyyy-MM}/${service}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout>
                <Pattern>%d{YYYY-MM-dd HH:mm:ss,SSSZ} %p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <!-- Obrót logów przy starcie aplikacji -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>  <!-- Logi obracają się przy 10MB -->
            </Policies>

            <DefaultRolloverStrategy max="5">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/${service}*.log.gz">
                        <!-- Usuwanie logów starszych niż 30 dni -->
                        <IfLastModified age="30d"/>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logowanie dla aplikacji na poziomie INFO -->
        <Logger name="com.pracazaliczeniowa" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Domyślny poziom logów (ERROR) -->
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>
